{%  extends 'base.html' %}
{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">문서 등록</h5>
    <form method="post" class="post-form my-3" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- 오류 표시 Start -->
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
            {% for field in form %}
                {% if field.errors %}
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
        <!-- 오류 표시 End -->
        <div class="form-group">
            <label>문서 종류</label>
            <select class="form-control" name="doc_type" id="doc_type">
                <option value="토익" {% if so == '토익' %}selected{% endif %}>토익</option>
                <option value="성적증명서" {% if so == '성적증명서' %}selected{% endif %}>성적증명서</option>
                <option value="졸업증명서" {% if so == '졸업증명서' %}selected{% endif %}>졸업증명서</option>
            </select>
        </div>
        <div class="form-group">
            <label>문서 경로</label>
            <input type="file" class="form-control" name="file_path" value="{{ form.file_path.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label>원본 식별</label>
            <select class="form-control" name="original_YN" id="original_YN">
                <option value="가능" {% if so == '가능' %}selected{% endif %}>가능</option>
                <option value="불가능" {% if so == '불가능' %}selected{% endif %}>불가능</option>
            </select>
        </div>

        <button type="submit" class="btn-primary">저장하기</button>
    </form>
</div>

{% endblock %}